services:
      
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      ENV: ${ENV}
    env_file:
      - ${ENV_FILE_RMQ}
    volumes:
      - ./api-gateway:/home/node/api-gateway
    depends_on:
      - rabbitmq

  micro-admin-backend:
    build: ./micro-admin-backend
    container_name: micro-admin-backend
    environment:
      ENV: ${ENV}
    env_file:
      - ${ENV_FILE_DB}
      - ${ENV_FILE_RMQ}
    volumes:
      - ./micro-admin-backend:/home/node/micro-admin-backend # micro-admin-backend
      - ./.storage/${ENV}/micro-admin-backend:/home/node/micro-admin-backend/storage # storage for micro-admin-backend
    depends_on:
      - mongo
      - rabbitmq

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      ENV: ${ENV}
    env_file:
      - ${ENV_FILE_DB}
    volumes:
      - ./.storage/${ENV}/mongo-data:/data/db

  mongo-express:
    image: mongo-express
    ports:
      - 8081:8081
    env_file:
      - ${ENV_FILE_DB}

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbit13
    hostname: my-rabbit
    env_file:
      - ${ENV_FILE_RMQ}
    ports:
      - "15672:15672"
      - "5672:5672"
      - "25676:25676"

