services:
      
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
      - "9229:9229"  # Porta para o debug do Visual Studio Code, fechar se em produção
    environment:
      ENV: ${ENV}
      DEBUG_MODE: ${DEBUG_MODE}
    env_file:
      - ${ENV_FILE_RMQ}
      - ${ENV_FILE_KC}
    volumes:
      - ./api-gateway:/home/node/api-gateway:cached # api-gateway
      - ./.storage/api-gateway/${ENV}:/home/node/api-gateway/storage # storage for micro-admin-backend
    depends_on:
      - rabbitmq
    extra_hosts:
      - "host.docker.internal:172.17.0.1" # host.docker.internal encaminha para o gateway do docker

  micro-admin-backend:
    build: ./micro-admin-backend
    container_name: micro-admin-backend
    ports:
    - "9230:9229"  # Porta para o debug do Micro Admin Backend (9230 no host), fechar se em produção
    environment:
      ENV: ${ENV}
      DEBUG_MODE: ${DEBUG_MODE}
    env_file:
      - ${ENV_FILE_DB}
      - ${ENV_FILE_RMQ}
    volumes:
      - ./micro-admin-backend:/home/node/micro-admin-backend:cached # micro-admin-backend
      - ./.storage/micro-admin-backend/${ENV}:/home/node/micro-admin-backend/storage # storage for micro-admin-backend
    depends_on:
      - mongo
      - rabbitmq

  micro-challenge-backend:
    build: ./micro-challenge-backend
    container_name: micro-challenge-backend
    ports:
    - "9231:9229"  # Porta para o debug do Micro Admin Backend (9231 no host), fechar se em produção
    environment:
      ENV: ${ENV}
      DEBUG_MODE: ${DEBUG_MODE}
    env_file:
      - ${ENV_FILE_DB}
      - ${ENV_FILE_RMQ}
    volumes:
      - ./micro-challenge-backend:/home/node/micro-challenge-backend:cached # micro-challenge-backend
      - ./.storage/micro-challenge-backend/${ENV}:/home/node/micro-challenge-backend/storage # storage for micro-challenge-backend
    depends_on:
      - mongo
      - rabbitmq

  micro-notifications:
    build: ./micro-notifications
    container_name: micro-notifications
    ports:
    - "9232:9229"  # Porta para o debug do Micro Admin Backend (9232 no host), fechar se em produção 
    environment:
      ENV: ${ENV}
      DEBUG_MODE: ${DEBUG_MODE}
    env_file:
      - ${ENV_FILE_MAILER}
      - ${ENV_FILE_RMQ}
    volumes:
      - ./micro-notifications:/home/node/micro-notifications:cached # micro-notifications
    depends_on:
      - rabbitmq

  micro-ranking-backend:
    build: ./micro-ranking-backend
    container_name: micro-ranking-backend
    ports:
    - "9233:9229"  # Porta para o debug do Micro Admin Backend (9233 no host), fechar se em produção     
    environment:
      ENV: ${ENV}
      DEBUG_MODE: ${DEBUG_MODE}
    env_file:
      - ${ENV_FILE_DB}
      - ${ENV_FILE_RMQ}
    volumes:
      - ./micro-ranking-backend:/home/node/micro-ranking-backend:cached # micro-ranking-backend
      - ./.storage/micro-ranking-backend/${ENV}:/home/node/micro-ranking-backend/storage # storage for micro-ranking-backend
    depends_on:
      - mongo
      - rabbitmq

  mongo:
    build: .docker/mongo
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      ENV: ${ENV}
    env_file:
      - ${ENV_FILE_DB}
    volumes:
      - ./data/mongo-data/${ENV}:/data/db

  mongo-express:
    image: mongo-express
    ports:
      - 8081:8081
    env_file:
      - ${ENV_FILE_DB}

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbit13
    hostname: my-rabbit
    env_file:
      - ${ENV_FILE_RMQ}
    ports:
      - "15672:15672"
      - "5672:5672"
      - "25676:25676"

